<a href="https://colab.research.google.com/github/TomsRaju/Introduction-to-Python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=int(input("Enter the number"))
if x%2==0:
   print("The number is even")
else:
   print("The number is odd")

for k in range(10):
  print(k)

Enter the number4
The number is even
0
1
2
3
4
5
6
7
8
9

In [2]:
for k in range(10):
 if k%2==0:
  print(k)

0
2
4
6
8

In [3]:
x=0
for k in range(10):
   x=x+k
   print(x)

0
1
3
6
10
15
21
28
36
45

In [4]:
x=0
for k in range(10):
   x=x+k
   if k==9:
     print(x)

45

In [5]:
x=1
for k in range(101):
  if k%2==0:
    x=x+k
print(x)

2551

In [6]:
x=1
for k in range(1,101):  
  x=x*k
print(x)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [7]:
for k in range(100):
 if k==5:
   break;
 print(k)

0
1
2
3
4

In [10]:
for k in range(1000):
 x=int(input("Enter x:"))
 y=int(input("Enter y:"))
 if y==0:
    print(x)
    break;
 else:
    y==1
    sum=sum+x
    print(sum)

Enter x:3
Enter y:0
3

In [9]:
k=0
while(k<100):
  print(k)
  k=k+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
k=0
sum=0
while(k<100):
 k=k+1
 sum=sum+k
print(sum)

In [ ]:
k=0
sum=0
while(k<=100):
  if k%2==1:
    sum=sum+k
  k=k+1
print(sum)

In [ ]:
for x in range(10):
  if x==5:
    continue;
  print(x)

In [ ]:
for x in range(100):
  if x%2==0:
    continue;
  print(x)

In [ ]:
x=[1,2,"India",256]
print(x[0])
print(x[-1])
print([2])
print(x[-2])
print(x[0:3])
print(x[-2:])
x.append("Toms")
print(x)

x.append("Abin")
print(x)

In [ ]:
x.append("Johns")
print(x)

In [ ]:
x.append("Johns")
print(x)

In [ ]:
x.insert(1,"Vishnu")
print(x)

In [ ]:
x=["Vimal","Amal","Alan"]
t=x[0]
x[0]=x[-1]
x[-1]=t
print(x)